.navbar {
  background: linear-gradient(to right, pink, lightskyblue);
  height: 80px;
  display: flex;
  justify-content: flex-end;
  font-size: 1.7rem;
  position: relative;
  object-fit: contain;
  top: 0;
  z-index: 100;
  width: 100%;
  text-align: center;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  margin-left: 20px;
  text-align: start;
  text-align-last: start;
  alignment: center;
  text-align-all: start;
  cursor: pointer;
  text-decoration: none;
  font-family: Chalkboard, serif;
  font-size: 2rem;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
  text-align: center;
  align-items: center;

}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: center;
  margin-right: 3rem;

}

.nav-item {
  height: 80px;

}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid hotpink;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
  font-family: Chalkboard, serif;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .navbar{
    justify-content: start;
    align-items: center;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    font-family: Chalkboard, serif;
  }

  .nav-menu.active {
    background: pink;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    font-family: Chalkboard, serif;
  }

  .nav-links {
    text-align: center;
    color: dodgerblue;
    padding: 2rem;
    width: 100%;
    display: table;
    font-family: Chalkboard, serif;
  }

  .nav-links:hover {
    background-color: lightskyblue;
    color: hotpink;
    border-radius: 0;
    font-family: Chalkboard, serif;
  }

  .navbar-logo {
    position: center;
    transform: translate(25%, 50%);
    font-family: Chalkboard, serif;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    font-family: Chalkboard, serif;
  }

  .fa-times {
    color: #ffffff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: flex;
    text-align: start;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
    font-family: Chalkboard, serif;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
    font-family: Chalkboard, serif;
  }
}
